:root {
  --primaryColor: #6865ea;
  --secondaryColor: #141625;
  --whiteColor: #ffffff;
  --assistantColor: #003594;
  --endColor: #373b54;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
  font-size: 62.5%;
}
