---
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
import Stack from "../components/Stack.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="w-full">
    <Header />
    <Projects />
    <Stack />
  </main>
</Layout>
