<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-[6px] p-[1px]">
    <!-- <span
      class="absolute inset-[-1000%] bg-[conic-gradient(from_90deg_at_50%_50%,#2fad6d_0%,#092519_50%,#2fad6d_100%)] animate-[spin_3s_linear_infinite] z-[-2]"
    >
    </span> -->
    <div
      class="bg-transparent dark:bg-[#092519] text-[#166641] dark:text-[#2FAD6D] w-fit flex gap-1.5 items-center justify-center py-1 px-2 rounded-[5px] text-xs font-medium select-none"
    >
      <span
        class="relative inline-flex rounded-full h-2 w-2 bg-[#1c7f4f] dark:bg-[#2fad6d]"
      ></span>
      Disponible para nuevos desafíos
    </div>
  </span>
</div>
