<span
  class="relative inline-flex bg-gradient-to-r from-emerald-400/15 to-emerald-200/5 border border-emerald-500 rounded-lg w-fit items-center gap-2 py-1 px-3 text-emerald-600 text-sm font-medium dark:text-emerald-500"
>
  <span class="relative flex h-2 w-2">
    <span
      class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-400 opacity-75"
    ></span>
    <span
      class="relative inline-flex rounded-full h-2 w-2 bg-emerald-600 dark:bg-emerald-500"
    ></span>
  </span>
  Disponible para nuevos desafíos
</span>
