---
const { class: className } = Astro.props;
---

<span
  class:list={[
    "py-1 pl-2.5 pr-3 rounded-full font-semibold inline-flex items-center gap-1 w-max",
    className,
  ]}
>
  <slot />
</span>
