<section>
    <div class="grid text-foreground grid-cols-1 lg:grid-cols-2 gap-4">
        <div
            class="bg-neutral-700/5 border border-neutral-700/10 p-4 rounded-2xl flex flex-col gap-4"
        >
            <div
                class="text-blue-500 flex items-center gap-2 text-xs px-3 py-1 rounded-full bg-blue-800/10 w-max"
            >
                <svg
                    height="16"
                    stroke-linejoin="round"
                    viewBox="0 0 16 16"
                    width="16"
                    class="size-3.5"
                    ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M0 5.25136V4.2487L0.463236 4.05702L7.71324 1.05702L8 0.938354L8.28676 1.05702L15.5368 4.05702L16 4.2487V5.25136L15.5368 5.44304L8.28676 8.44304L8 8.5617L7.71324 8.44304L0.463236 5.44304L0 5.25136ZM0 8.45825V6.83491L0.536764 7.05702L8 10.1453L15.4632 7.05702L16 6.83491V8.45825L8.28676 11.6499L8 11.7686L7.71324 11.6499L0 8.45825ZM0 11.7083V10.0849L0.536764 10.307L8 13.3953L15.4632 10.307L16 10.0849V11.7083L8.28676 14.8999L8 15.0186L7.71324 14.8999L0 11.7083ZM8 6.93835L2.71154 4.75003L8 2.5617L13.2885 4.75003L8 6.93835Z"
                        fill="currentColor"></path></svg
                >
                Stack
            </div>
            <div class="space-y-2">
                <span class="text-sm inline-flex text-foreground/80"
                    >Frontend</span
                >
                <div class="flex gap-2 flex-wrap">
                    <div
                        class="bg-neutral-600/10 bg p-2 border border-neutral-600/20 aspect-square size-12 rounded-md"
                    >
                        <img
                            src="/icons/vue.svg"
                            alt="Vue Logo"
                            class="size-full"
                        />
                    </div>
                    <div
                        class="bg-neutral-600/10 p-2 border border-neutral-600/20 aspect-square size-12 rounded-md"
                    >
                        <img
                            src="/icons/react.svg"
                            alt="React Logo"
                            class="size-full"
                        />
                    </div>
                    <div
                        class="bg-neutral-600/10 p-2 border border-neutral-600/20 aspect-square size-12 rounded-md"
                    >
                        <img
                            src="/icons/astro.svg"
                            alt="Astro Logo"
                            class="size-full"
                        />
                    </div>
                    <div
                        class="bg-neutral-600/10 p-2 border border-neutral-600/20 aspect-square size-12 rounded-md"
                    >
                        <img
                            src="/icons/tailwindcss.svg"
                            alt="Tailwind CSS Logo"
                            class="size-full"
                        />
                    </div>
                </div>
            </div>
            <div class="space-y-2">
                <span class="text-sm inline-flex text-foreground/80"
                    >Backend</span
                >
                <div class="flex gap-2 flex-wrap">
                    <div
                        class="bg-neutral-600/10 p-2 border border-neutral-600/20 aspect-square size-12 rounded-md"
                    >
                        <img
                            src="/icons/laravel.svg"
                            alt="Laravel Logo"
                            class="size-full"
                        />
                    </div>
                    <div
                        class="bg-neutral-600/10 p-2 border border-neutral-600/20 aspect-square size-12 rounded-md"
                    >
                        <img
                            src="/icons/php.svg"
                            alt="PHP Logo"
                            class="size-full"
                        />
                    </div>
                    <div
                        class="bg-neutral-600/10 p-2 border border-neutral-600/20 aspect-square size-12 rounded-md"
                    >
                        <img
                            src="/icons/mysql.svg"
                            alt="MySQL Logo"
                            class="size-full"
                        />
                    </div>
                </div>
            </div>
            <div class="space-y-2">
                <span class="text-sm inline-flex text-foreground/80"
                    >Herramientas</span
                >
                <div class="flex gap-2 flex-wrap">
                    <div
                        class="bg-neutral-600/10 p-2 border border-neutral-600/20 aspect-square size-12 rounded-md"
                    >
                        <img
                            src="/icons/git.svg"
                            alt="Git Logo"
                            class="size-full"
                        />
                    </div>
                    <div
                        class="bg-neutral-600/10 p-2 border border-neutral-600/20 aspect-square size-12 rounded-md"
                    >
                        <img
                            src="/icons/github.svg"
                            alt="GitHub Logo"
                            class="size-full"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div
            class="bg-neutral-700/5 border border-neutral-700/10 p-4 rounded-2xl"
        >
            <div
                class="text-blue-500 flex items-center gap-2 text-xs px-3 py-1 rounded-full bg-blue-800/10 w-max"
            >
                <svg
                    height="16"
                    stroke-linejoin="round"
                    viewBox="0 0 16 16"
                    width="16"
                    class="size-3.5"
                    ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M6 2.5H10C10.2761 2.5 10.5 2.72386 10.5 3V4H5.5V3C5.5 2.72386 5.72386 2.5 6 2.5ZM4 4V3C4 1.89543 4.89543 1 6 1H10C11.1046 1 12 1.89543 12 3V4H14.5H16V5.5V13.5C16 14.8807 14.8807 16 13.5 16H2.5C1.11929 16 0 14.8807 0 13.5V5.5V4H1.5H4ZM12 5.5H10.5H5.5H4H1.5V9.25H7.25V8.5H8.75V9.25L14.5 9.25V5.5H12ZM8.75 10.75L14.5 10.75V13.5C14.5 14.0523 14.0523 14.5 13.5 14.5H2.5C1.94772 14.5 1.5 14.0523 1.5 13.5V10.75H7.25V11.5H8.75V10.75Z"
                        fill="currentColor"></path></svg
                >
                Experiencia
            </div>
        </div>
        <div
            class="bg-neutral-700/5 border border-neutral-700/10 p-4 rounded-2xl lg:col-span-2"
        >
            <div
                class="text-blue-500 flex items-center gap-2 text-xs px-3 py-1 rounded-full bg-blue-800/10 w-max"
            >
                <svg
                    height="16"
                    stroke-linejoin="round"
                    viewBox="0 0 16 16"
                    width="16"
                    class="size-3.5"
                    ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M14.5 7.5V12.5C14.5 13.0523 14.0523 13.5 13.5 13.5H2.5C1.94772 13.5 1.5 13.0523 1.5 12.5V7.5H14.5ZM14.5 6V4H8.83333C8.29241 4 7.76607 3.82456 7.33333 3.5L6 2.5H1.5V6H14.5ZM0 1H1.5H6.16667C6.38304 1 6.59357 1.07018 6.76667 1.2L8.23333 2.3C8.40643 2.42982 8.61696 2.5 8.83333 2.5H14.5H16V4V12.5C16 13.8807 14.8807 15 13.5 15H2.5C1.11929 15 0 13.8807 0 12.5V2.5V1Z"
                        fill="currentColor"></path></svg
                >
                Proyectos
            </div>
        </div>
    </div>
</section>

<style scoped>
    .bg::after {
        background-color: inherit;
        position: absolute;
        content: "";
        width: 3rem;
        height: 3rem;
        filter: blur(12px) saturate(150%);
    }
</style>
