<footer class="w-full py-8">
  <div class="max-w-screen-lg mx-auto flex justify-between">
    <span class="text-neutral-600 flex gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
        ></path>
      </svg>
      Developed by Jostin Aguilar
    </span>
    <ul class="flex gap-6">
      <li><a href="#" class="text-neutral-600">Home</a></li>
      <li><a href="#" class="text-neutral-600">GitHub</a></li>
    </ul>
  </div>
</footer>
