---
import SocialPill from "./SocialPill.astro";
import Stack from "./Stack.astro";
import Badge from "./Badge.astro";
import GitHubIcon from "./icons/GitHub.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import Navbar from "./Navbar.astro";
import Logo from "./icons/Logo.astro";
import icon from "../assets/icon.svg";
---

<header class="w-full relative">
  <section
    class="max-w-screen-lg m-auto flex items-center flex-row py-10 gap-8"
  >
    <divc class="size-24">
      <img src={icon.src} alt="Icono Jostin Aguilar" />
    </divc>
    <div class="flex flex-col gap-2">
      <Badge />
      <div class="flex flex-col gap-2">
        <h1 class="text-black dark:text-white text-3xl font-black">
          Jostin Aguilar
        </h1>
        <p class="text-slate-800 dark:text-slate-300 text-sm">
          Desarrollo de software, programación e informática.
        </p>
      </div>
    </div>
  </section>
</header>
