---
import Logo from "./Logo.astro";
import MoonIcon from "./MoonIcon.astro";
import SocialPill from "./SocialPill.astro";
import ArrowTopRight from "./icons/ArrowTopRight.astro";
import GitHubIcon from "./icons/GitHub.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
---

<header class="w-full py-10">
  <nav class="w-full flex max-w-screen-lg justify-between m-auto">
    <div class="w-4 h-auto">
      <a href="/">
        <Logo />
      </a>
    </div>
    <div class="flex gap-6">
      <a href="#">Home</a>
      <a href="#">Proyectos</a>
      <a href="#">Mi Stack</a>
    </div>
    <div>
      <button class="w-6">
        <MoonIcon />
      </button>
    </div>
  </nav>
  <section
    class="max-w-screen-lg m-auto flex items-center flex-col pt-20 gap-8"
  >
    <div class="flex items-center flex-col gap-4">
      <h1 class="text-5xl font-black">Jostin Aguilar</h1>
      <p class="text-neutral-200 text-lg">
        Soy peruano y por las noches Desarrollador Web.
      </p>
    </div>
    <button
      class="flex gap-3 items-center justify-center text-sm py-2 px-4 rounded-lg bg-white/5 border border-slate-600"
    >
      <span class="relative flex h-2.5 w-2.5">
        <span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
        ></span>
        <span class="relative inline-flex rounded-full h-2.5 w-2.5 bg-green-500"
        ></span>
      </span>
      Disponible para nuevos desafíos
    </button>

    <div class="flex gap-10">
      <SocialPill>
        <span class="flex relative h-5 w-5 overflow-hidden">
          <ArrowTopRight
            class="absolute h-5 w-auto scale-0 opacity-0 group-hover:scale-100 group-hover:opacity-100 transform duration-200 ease-in -bottom-1/2 -left-1/2 group-hover:bottom-0 group-hover:left-0"
          />
          <GitHubIcon
            class="h-5 w-auto flex group-hover:scale-0 group-hover:opacity-0 scale-100 opacity-100 transition duration-200 ease-out"
          />
        </span>
        GitHub
        <SocialPill>
          <span class="flex relative h-5 w-5 overflow-hidden">
            <ArrowTopRight
              class="absolute h-5 w-auto scale-0 opacity-0 group-hover:scale-100 group-hover:opacity-100 transform duration-200 ease-in -bottom-1/2 -left-1/2 group-hover:bottom-0 group-hover:left-0"
            />
            <LinkedInIcon
              class="h-5 w-auto flex group-hover:scale-0 group-hover:opacity-0 scale-100 opacity-100 transition duration-200 ease-out"
            />
          </span>
          LinkedIn
        </SocialPill>
      </SocialPill>
    </div>
  </section>
</header>
