---
import SocialPill from "./SocialPill.astro";
import Stack from "./Stack.astro";
import Badge from "./Badge.astro";
import GitHubIcon from "./icons/GitHub.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
---

<header class="w-full">
  <section
    class="max-w-screen-lg m-auto flex items-center flex-row py-10 gap-8"
  >
    <div class="flex flex-col gap-6">
      <Badge />
      <div class="flex flex-col gap-2">
        <h1 class="text-black dark:text-white text-5xl font-black">
          Jostin Aguilar
        </h1>
        <!-- <p class="text-slate-800 dark:text-slate-300 text-base">
          Desde Perú, creando
          <span class="font-semibold text-[#0055ff]"
            >soluciones web modernas</span
          > para Latam.
        </p> -->
      </div>
      <div class="flex gap-3">
        <SocialPill
          href="https://github.com/jostinaguilar"
          className="bg-zinc-50 text-zinc-950 border-zinc-300 hover:bg-zinc-100 hover:border-zinc-500 dark:text-white dark:bg-zinc-900 dark:border-zinc-800"
        >
          <GitHubIcon class="h-5 w-auto" />
          GitHub
        </SocialPill>
        <SocialPill
          href="#"
          className="bg-blue-50 text-blue-700 border-blue-300 hover:bg-blue-100 hover:border-blue-500 dark:bg-slate-900 dark:border-blue-900 dark:text-blue-500"
        >
          <LinkedInIcon class="h-5 w-auto" />
          LinkedIn
        </SocialPill>
      </div>
    </div>
    <Stack />
  </section>
</header>
