<div>
    <div class="border border-zinc-700 p-0.5 size-16 rounded-full mb-4">
        <img
            src="https://avatars.githubusercontent.com/u/84819925?v=4"
            alt="Avatar de Jostin Aguilar"
            class="object-cover size-full rounded-full"
        />
    </div>
    <div class="flex flex-col gap-1 mb-4">
        <h1 class="font-bold text-2xl text-foreground">Jostin Aguilar</h1>
        <p class="text-foreground/80 font-light text-base">
            Desarrollo Full Stack & Soporte TI.
        </p>
    </div>
    <div
        class="flex gap-2 items-center border px-2.5 py-1 rounded-md border-zinc-800 w-max"
    >
        <div class="relative">
            <span class="size-2 bg-lime-500 rounded-full block"></span>
            <span
                class="size-2 absolute left-0 top-0 bg-lime-500 animate-ping rounded-full block"
            ></span>
        </div>
        <span class="text-foreground text-xs font-medium">
            Disponible para nuevos proyectos</span
        >
    </div>
</div>
