---
import { Image } from "astro:assets";
import SocialIcon from "./SocialIcon.astro";
---

<div>
    <div class="border border-zinc-700 p-0.5 size-16 rounded-full mb-6">
        <Image
            src="https://avatars.githubusercontent.com/u/84819925?v=4"
            alt="Avatar de Jostin Aguilar"
            class="object-cover size-full rounded-full"
            width={64}
            height={64}
        />
    </div>
    <div class="flex flex-col gap-1 mb-4">
        <h1 class="font-bold text-2xl text-foreground">Jostin Aguilar</h1>
        <p class="text-foreground/80 font-light text-base">
            Desarrollo Full Stack & Soporte TI.
        </p>
    </div>
    <div
        class="flex gap-2 items-center border px-2.5 py-1.5 rounded-md border-zinc-800 w-max"
    >
        <div class="relative flex items-center justify-center">
            <span
                class="size-2 absolute bg-lime-500 -z-10 opacity-75 animate-ping rounded-full block"
            ></span>
            <span class="size-1.5 bg-lime-500 rounded-full block"></span>
        </div>
        <span class="text-foreground text-xs font-medium">
            Disponible para nuevos proyectos</span
        >
    </div>
    <div class="flex gap-6 mt-6">
        <SocialIcon name="GitHub" href="https://github.com/jostinaguilar">
            <svg
                class="size-5"
                height="16"
                stroke-linejoin="round"
                viewBox="0 0 16 16"
                width="16"
                ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 1.46252C4.40875 1.46252 1.5 4.37029 1.5 7.96032C1.5 10.8356 3.36062 13.2642 5.94438 14.1251C6.26937 14.182 6.39125 13.987 6.39125 13.8165C6.39125 13.6621 6.38313 13.1504 6.38313 12.6063C4.75 12.9068 4.3275 12.2083 4.1975 11.8428C4.12437 11.6559 3.8075 11.0793 3.53125 10.9249C3.30375 10.8031 2.97875 10.5026 3.52312 10.4945C4.035 10.4863 4.40062 10.9656 4.5225 11.1605C5.1075 12.1433 6.04188 11.8671 6.41563 11.6966C6.4725 11.2742 6.64313 10.9899 6.83 10.8275C5.38375 10.665 3.8725 10.1046 3.8725 7.61919C3.8725 6.91255 4.12438 6.32775 4.53875 5.87291C4.47375 5.71046 4.24625 5.04444 4.60375 4.15099C4.60375 4.15099 5.14812 3.98042 6.39125 4.81701C6.91125 4.67081 7.46375 4.59771 8.01625 4.59771C8.56875 4.59771 9.12125 4.67081 9.64125 4.81701C10.8844 3.9723 11.4288 4.15099 11.4288 4.15099C11.7863 5.04444 11.5588 5.71046 11.4938 5.87291C11.9081 6.32775 12.16 6.90443 12.16 7.61919C12.16 10.1127 10.6406 10.665 9.19438 10.8275C9.43 11.0305 9.63313 11.4204 9.63313 12.0296C9.63313 12.8987 9.625 13.5972 9.625 13.8165C9.625 13.987 9.74687 14.1901 10.0719 14.1251C11.3622 13.6896 12.4835 12.8606 13.2779 11.7547C14.0722 10.6488 14.4997 9.32178 14.5 7.96032C14.5 4.37029 11.5913 1.46252 8 1.46252Z"
                    fill="currentColor"></path></svg
            >
        </SocialIcon>
        <SocialIcon
            name="LinkedIn"
            href="https://www.linkedin.com/in/jostinaguilar"
        >
            <svg
                class="size-5"
                height="16"
                stroke-linejoin="round"
                viewBox="0 0 16 16"
                width="16"
                ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.5 2C2.67157 2 2 2.67157 2 3.5V12.5C2 13.3284 2.67157 14 3.5 14H12.5C13.3284 14 14 13.3284 14 12.5V3.5C14 2.67157 13.3284 2 12.5 2H3.5ZM4.74556 5.5C5.21057 5.5 5.5 5.16665 5.5 4.75006C5.49133 4.3241 5.21057 4 4.75438 4C4.29824 4 4 4.3241 4 4.75006C4 5.16665 4.28937 5.5 4.73687 5.5H4.74556ZM5.5 6.5V12H4V6.5H5.5ZM7 12H8.5V8.89479C8.5 8.89479 8.60415 7.78962 9.55208 7.78962C10.5 7.78962 10.5 9.02275 10.5 9.02275V12H12V8.8133C12 7.13837 11.25 6.5025 10.125 6.5025C9 6.5025 8.5 7.27778 8.5 7.27778V6.5025H7.00005C7.02383 7.01418 7 12 7 12Z"
                    fill="currentColor"></path></svg
            >
        </SocialIcon>
        <SocialIcon name="Twitter" href="#">
            <svg
                class="size-4"
                height="16"
                stroke-linejoin="round"
                viewBox="0 0 16 16"
                width="16"
                ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.60022 2H5.80022L8.78759 6.16842L12.4002 2H14.0002L9.5118 7.17895L14.4002 14H10.2002L7.21285 9.83158L3.60022 14H2.00022L6.48864 8.82105L1.60022 2ZM10.8166 12.8L3.93657 3.2H5.18387L12.0639 12.8H10.8166Z"
                    fill="currentColor"></path></svg
            >
        </SocialIcon>
    </div>
</div>
