---
import Logo from "./icons/Logo.astro";
import Theme from "./Theme.astro";
---

<nav
  class="w-full flex max-w-screen-lg justify-between m-auto items-center absolute top-0 py-10 z-10"
>
  <div class="w-4 h-auto">
    <a href="/" class="text-black dark:text-white">
      <Logo />
    </a>
  </div>
  <div class="flex gap-6 items-center">
    <a
      href="#"
      class="text-black font-medium dark:text-white flex py-2 px-4 rounded-lg bg-transparent hover:bg-white/5 transition duration-300 ease-in"
      >Home</a
    >
    <a
      href="#projects"
      class="text-black font-medium dark:text-white flex py-2 px-4 rounded-lg bg-transparent hover:bg-white/5 transition duration-300 ease-in"
      >Proyectos</a
    >
    <a
      href="#"
      class="text-black font-medium dark:text-white flex py-2 px-4 rounded-lg bg-transparent hover:bg-white/5 transition duration-300 ease-in"
      >Mi Stack</a
    >
  </div>
  <Theme />
</nav>
