---
import Logo from "./Logo.astro";
import Theme from "./Theme.astro";
---

<nav class="w-full flex max-w-screen-lg justify-between m-auto items-center">
  <div class="w-4 h-auto">
    <a href="/">
      <Logo />
    </a>
  </div>
  <div class="flex gap-6 items-center">
    <a
      href="#"
      class="flex py-2 px-4 rounded-lg bg-transparent hover:bg-white/5 transition duration-300 ease-in"
      >Home</a
    >
    <a
      href="#projects"
      class="flex py-2 px-4 rounded-lg bg-transparent hover:bg-white/5 transition duration-300 ease-in"
      >Proyectos</a
    >
    <a
      href="#"
      class="flex py-2 px-4 rounded-lg bg-transparent hover:bg-white/5 transition duration-300 ease-in"
      >Mi Stack</a
    >
  </div>
  <Theme />
</nav>
