<div
  class="w-auto h-auto text-slate-500 dark:text-slate-300 aspect-square bg-slate-100 dark:bg-slate-900 dark:border-slate-700 border border-slate-300 rounded-lg flex items-center justify-center p-4"
>
  Próximamente
</div>
