---
import CodeWrapIcon from "./icons/CodeWrapIcon.astro";
---

<section class="space-y-4">
    <h2 class="text-foreground flex items-center gap-2 font-medium text-base">
        <CodeWrapIcon class="size-4" />
        Proyectos
    </h2>
    <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <article
            class="bg-neutral-800/20 border border-neutral-800/40 rounded-xl w-full min-h-32"
        >
            <div class="size-full grid place-items-center">
                <span class="text-foreground/50 text-xs font-extralight">
                    Próximamente
                </span>
            </div>
        </article>
        <article
            class="bg-neutral-800/20 border border-neutral-800/40 rounded-xl w-full min-h-32"
        >
            <div class="size-full grid place-items-center">
                <span class="text-foreground/50 text-xs font-extralight">
                    Próximamente
                </span>
            </div>
        </article>
        <article
            class="bg-neutral-800/20 border border-neutral-800/40 rounded-xl w-full min-h-32"
        >
            <div class="size-full grid place-items-center">
                <span class="text-foreground/50 text-xs font-extralight">
                    Próximamente
                </span>
            </div>
        </article>
    </section>
</section>
