---
const { className } = Astro.props;
---

<a
  href={Astro.props.href}
  target="_blank"
  rel="noopener noreferrer"
  class:list={[
    "inline-flex py-1 px-2 rounded-full gap-2 border items-center text-sm font-medium transition duration-300 ease-in",
    className,
  ]}
>
  <slot />
</a>
