---
import LayersIcon from "./icons/LayersIcon.astro";
import StackSquare from "./StackSquare.astro";
---

<section class="space-y-4">
    <h2 class="text-foreground flex items-center gap-2 font-medium text-base">
        <LayersIcon class="size-4" />
        Stack
    </h2>
    <section class="grid grid-cols-3 sm:grid-cols-6 lg:grid-cols-8 gap-2">
        <StackSquare
            src="/icons/vue.svg"
            alt="Vue Logo"
            style="--glow-color: #40b782;"
            name="Vue"
        />
        <StackSquare
            src="/icons/react.svg"
            alt="React Logo"
            style="--glow-color: #00d6fd;"
            name="React"
        />
        <StackSquare
            src="/icons/astro.svg"
            alt="Astro Logo"
            style="--glow-color: #f041ff;"
            name="Astro"
        />
        <StackSquare
            src="/icons/tailwindcss.svg"
            alt="Tailwind CSS Logo"
            style="--glow-color: #00bcff;"
            name="Tailwind"
        />
        <StackSquare
            src="/icons/livewire.svg"
            alt="Livewire Logo"
            style="--glow-color: #ea5c96;"
            name="Livewire"
        />
        <StackSquare
            src="/icons/laravel.svg"
            alt="Laravel Logo"
            style="--glow-color:#eb4432;"
            name="Laravel"
        />
        <StackSquare
            src="/icons/php.svg"
            alt="PHP Logo"
            style="--glow-color:#4f5b93;"
            name="PHP"
        />
        <StackSquare
            src="/icons/mysql.svg"
            alt="MySQL Logo"
            style="--glow-color:#00758f;"
            name="MySQL"
        />

        <StackSquare
            src="/icons/git.svg"
            alt="Git Logo"
            style="--glow-color: #de4c36;"
            name="Git"
        />
        <StackSquare
            src="/icons/github.svg"
            alt="GitHub Logo"
            style="--glow-color: #525252;"
            name="GitHub"
        />
    </section>
</section>
