---
const { className } = Astro.props;
---

<div class="relative group">
  <span
    class="w-16 h-16 flex flex-col items-center bg-white/10 backdrop-blur-md p-3 justify-center rounded-2xl border border-slate-500/30 cursor-pointer"
  >
    <slot />
  </span>
</div>
