---
const { className } = Astro.props;
---

<div class="relative group">
  <span
    class="w-20 h-20 flex flex-col items-center border-neutral-600/50 bg-gradient-to-b from-slate-800/50 from-30% to-neutral-500/0 p-4 rounded-2xl backdrop-blur-lg border"
  >
    <slot />
  </span>
  <span
    class:list={[
      "absolute top-0 left-0 gradient rounded-2xl bg-gradient-to-t to-transparent to-50% blur-sm flex w-20 h-20 opacity-50 z-[-5] group-hover:opacity-100 transition duration-300 ease-in",
      className,
    ]}></span>
</div>
