---
const { className } = Astro.props;
---

<div class="relative group">
  <span
    class="w-[70px] h-[70px] flex flex-col items-center bg-slate-100/80 dark:bg-slate-950/80 dark:border-slate-800 p-3.5 justify-center rounded-2xl border border-slate-300 cursor-pointer text-black dark:text-white backdrop-blur-sm"
  >
    <slot />
  </span>
  <span
    class:list={[
      "absolute -bottom-1 left-1/2 rounded-2xl blur-md right-1/2 -translate-x-1/2 flex w-[60px] h-[60px] opacity-50 z-[-3] group-hover:opacity-100 transition duration-300 ease-in",
      className,
    ]}></span>
</div>
