---
const { className } = Astro.props;
---

<div class="relative group">
  <span
    class="w-full flex gap-2 items-center bg-neutral/20 p-3 justify-center rounded-xl border border-neutral-500/30 cursor-pointer"
  >
    <slot />
  </span>
</div>
