---
import HtmlIcon from "./icons/Html.astro";
import CssIcon from "./icons/Css.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import PhpIcon from "./icons/Php.astro";
import LaravelIcon from "./icons/Laravel.astro";
import StackCard from "./StackCard.astro";
---

<<<<<<< HEAD
<section class="max-w-screen-lg m-auto py-10">
  <section class="grid grid-cols-3 gap-4 w-full items-center justify-center">
    <StackCard className={""}>
=======
<section class="max-w-screen-lg m-auto pt-4">
  <section class="flex gap-4 flex-wrap">
    <StackCard className={"from-[#e34f26]"}>
>>>>>>> dev
      <HtmlIcon
        class="w-full h-full group-hover:scale-105 transition duration-300 ease-in text-black dark:text-white"
      />
    </StackCard>
    <StackCard className={""}>
      <CssIcon
        class="w-full h-full group-hover:scale-105 transition duration-300 ease-in"
      />
    </StackCard>
    <StackCard className={""}>
      <JavaScriptIcon
        class="w-full h-full group-hover:scale-105 transition duration-300 ease-in"
      />
    </StackCard>
    <StackCard className={""}>
      <PhpIcon
        class="w-full h-full group-hover:scale-105 transition duration-300 ease-in text-black dark:text-white"
      />
    </StackCard>
    <StackCard className={""}>
      <LaravelIcon
        class="w-full h-full group-hover:scale-105 transition duration-300 ease-in"
      />
    </StackCard>
  </section>
</section>
