---
import HtmlIcon from "./icons/Html.astro";
import CssIcon from "./icons/Css.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import PhpIcon from "./icons/Php.astro";
import LaravelIcon from "./icons/Laravel.astro";
import StackCard from "./StackCard.astro";
---

<section class="max-w-screen-lg m-auto py-10">
  <section class="flex flex-row gap-4 w-full items-center justify-center">
    <StackCard>
      <HtmlIcon class="w-full h-full" />
    </StackCard>
    <StackCard>
      <CssIcon class="w-full h-full" />
    </StackCard>
    <StackCard>
      <JavaScriptIcon class="w-full h-full" />
    </StackCard>
    <StackCard>
      <PhpIcon class="w-full h-full" />
    </StackCard>
    <StackCard>
      <LaravelIcon class="w-full h-full" />
    </StackCard>
  </section>
</section>
