---
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jostin Aguilar</title>
  </head>
  <body class="bg-gray-100 dark:bg-slate-950">
    <div
      class="z-[-1] absolute -top-[60%] left-1/2 w-[1024px] h-[1024px] rounded-full blur-[200px] bg-[#0055FF] -translate-x-1/2"
    >
    </div>
    <slot />
  </body>
</html>
<style>
  html,
  body {
    position: relative;
    z-index: -2;
    font-family: "Onest Variable", sans-serif;
    color: #fff;
    margin: 0;
    width: 100%;
    min-height: 100dvh;
    scroll-behavior: smooth;
  }
</style>
