---
import "../styles/global.css";
import "@fontsource-variable/geist";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Jostin Aguilar</title>
	</head>
	<body
		class="flex justify-center items-center w-full min-h-dvh bg-background antialiased"
	>
		<div
			class="absolute inset-0 pointer-events-none mix-blend-overlay bg-blend-overlay opacity-100"
			style="z-index: -1; background-image: url(/grain.webp); background-repeat: repeat; background-size: 100px 100px; background-position: top left;"
		>
		</div>
		<div class="gradient"></div>
		<main class="w-full max-w-7xl mx-auto px-6 py-4">
			<slot />
		</main>
	</body>
</html>

<style scoped>
	.gradient {
		position: absolute;
		inset: 0;
		z-index: -2;
		background: radial-gradient(circle, #020617, #1d4ed8);
		mask-image: radial-gradient(
			90% 100% at 100% 0%,
			black 10%,
			transparent 90%
		);
	}
</style>
