---
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jostin Aguilar</title>
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-950">
    <div class="w-full absolute z-[-2] top-0">
      <img
        src="/images/glow-top.png"
        alt="glow"
        class="w-full h-auto mx-auto"
      />
    </div>
    <slot />
  </body>
</html>
<style>
  html,
  body {
    position: relative;
    z-index: -2;
    font-family: "Onest Variable", sans-serif;
    color: #fff;
    margin: 0;
    width: 100%;
    min-height: 100dvh;
    scroll-behavior: smooth;
  }
</style>
