---
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jostin Aguilar</title>
  </head>
  <body class="bg-slate-50 dark:bg-slate-950 antialiased w-full">
    <div
      class="absolute -z-10 top-0 w-full h-[60%] bg-cover bg-no-repeat bg-mesh-gradient dark:bg-mesh-gradient-dark bg-slate-50 dark:bg-slate-950"
    >
    </div>
    <slot />
  </body>
</html>
<style>
  html,
  body {
    position: relative;
    z-index: -2;
    font-family: "Onest Variable", sans-serif;
    color: #fff;
    margin: 0;
    width: 100%;
    min-height: 100dvh;
    scroll-behavior: smooth;
  }
</style>
