---
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jostin Aguilar</title>
  </head>
  <body class="">
    <div
      class="z-[-1] absolute top-0 w-full min-h-screen bg-neutral-950 bg-[radial-gradient(ellipse_50%_90%_at_50%_-30%,rgba(0,85,255,0.5),rgba(255,255,255,0))]"
    >
    </div>
    <slot />
  </body>
</html>
<style>
  html,
  body {
    background-color: #0a0a0a;
    position: relative;
    z-index: -2;
    font-family: "Onest Variable", sans-serif;
    color: #fff;
    margin: 0;
    width: 100%;
    min-height: 100dvh;
  }
</style>
